In [39]:
import pandas as pd
lolrank=pd.read_csv("lolrank.csv")

In [41]:
lolrank.tail()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
9874,4527873286,1,17,2,1,7,4,5,1,1,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,4527797466,1,54,0,0,6,4,8,1,1,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,4527713716,0,23,1,0,6,7,5,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,4527628313,0,14,4,1,2,3,3,1,1,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,4523772935,1,18,0,1,6,6,5,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [42]:
lolrank_sorted=lolrank.sort_values("blueWardsPlaced")
lolrank_sorted
#將blueWardsPlaced升序排名

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
1766,4499715260,0,5,0,0,2,15,2,0,0,...,1,22614,7.4,20502,247,80,9152,8290,24.7,2261.4
5831,4511949314,1,5,1,0,4,8,5,0,0,...,0,17548,6.8,16966,198,51,2714,427,19.8,1754.8
4169,4523728441,1,7,0,1,9,11,10,1,1,...,0,16662,7.0,18461,174,44,-1939,-166,17.4,1666.2
8795,4527078331,1,8,1,1,8,4,7,1,1,...,0,15108,6.8,17858,227,61,-3149,-1513,22.7,1510.8
2832,4517892829,0,8,3,0,2,4,1,0,0,...,0,15985,7.4,19503,225,51,1129,1348,22.5,1598.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405,4437927077,0,198,1,1,6,9,6,0,0,...,0,17576,7.4,19186,223,40,991,844,22.3,1757.6
6401,4464495832,1,203,2,1,6,7,12,1,1,...,0,16646,6.8,17774,210,48,-751,-615,21.0,1664.6
6116,4468650585,0,209,1,1,5,9,4,1,1,...,0,17381,7.4,19666,202,52,1678,2431,20.2,1738.1
3742,4506573625,0,221,1,0,2,14,1,0,0,...,0,19828,7.6,19924,203,55,6707,5252,20.3,1982.8
8206,4504166210,1,250,4,1,12,10,12,1,0,...,0,16637,6.8,17750,174,56,-3067,-503,17.4,1663.7

In [43]:
sum_of_blue_kills = lolrank.loc[lolrank['blueWins'] == 0, 'blueKills'].sum()
print('Sum of blueKills when blueWins = 0:', sum_of_blue_kills)
#將blueWins為0的blueKills相加

Sum of blueKills when blueWins = 0: 25587

In [44]:
lolrank_sorted = lolrank.sort_values(by=['blueWardsPlaced'], ascending=False).reset_index(drop=False)
lolrank_sorted.to_csv('lolrank_sorted.csv', index=False)
lolrank_sorted.to_csv('lolrank_sorted.csv', index=True)
print(lolrank_sorted.to_csv)
#自主嘗試將blueWardsPlaced降序排名

<bound method NDFrame.to_csv of       index      gameId  blueWins  blueWardsPlaced  blueWardsDestroyed  \
0      8206  4504166210         1              250                   4
1      3742  4506573625         0              221                   1
2      6116  4468650585         0              209                   1
3      6401  4464495832         1              203                   2
4      6405  4437927077         0              198                   1
...     ...         ...       ...              ...                 ...
9874   9644  4526480699         0                8                   3
9875   8795  4527078331         1                8                   1
9876   4169  4523728441         1                7                   0
9877   5831  4511949314         1                5                   1
9878   1766  4499715260         0                5                   0

      blueFirstBlood  blueKills  blueDeaths  blueAssists  blueEliteMonsters  \
0                  1         12          10           12                  1
1                  0          2          14            1                  0
2                  1          5           9            4                  1
3                  1          6           7           12                  1
4                  1          6           9            6                  0
...              ...        ...         ...          ...                ...
9874               1          6           5            7                  1
9875               1          8           4            7                  1
9876               1          9          11           10                  1
9877               0          4           8            5                  0
9878               0          2          15            2                  0

      ...  redTowersDestroyed  redTotalGold  redAvgLevel  redTotalExperience  \
0     ...                   0         16637          6.8               17750
1     ...                   0         19828          7.6               19924
2     ...                   0         17381          7.4               19666
3     ...                   0         16646          6.8               17774
4     ...                   0         17576          7.4               19186
...   ...                 ...           ...          ...                 ...
9874  ...                   0         16032          6.8               17170
9875  ...                   0         15108          6.8               17858
9876  ...                   0         16662          7.0               18461
9877  ...                   0         17548          6.8               16966
9878  ...                   1         22614          7.4               20502

      redTotalMinionsKilled  redTotalJungleMinionsKilled  redGoldDiff  \
0                       174                           56        -3067
1                       203                           55         6707
2                       202                           52         1678
3                       210                           48         -751
4                       223                           40          991
...                     ...                          ...          ...
9874                    198                           51           68
9875                    227                           61        -3149
9876                    174                           44        -1939
9877                    198                           51         2714
9878                    247                           80         9152

      redExperienceDiff  redCSPerMin  redGoldPerMin
0                  -503         17.4         1663.7
1                  5252         20.3         1982.8
2                  2431         20.2         1738.1
3                  -615         21.0         1664.6
4                   844         22.3         1757.6
...                 ...          ...            ...
9874               -963         19.8         1603.2
9875              -1513         22.7         1510.8
9876               -166         17.4         1666.2
9877                427         19.8         1754.8
9878               8290         24.7         2261.4

[9879 rows x 41 columns]>

In [61]:
lolrank = pd.read_csv('lolrank.csv')
# 篩選出blueKills小於5的資料
filtered_lolrank = lolrank[lolrank['blueKills'] < 5]


total_blue_kills = filtered_lolrank['blueKills'].sum()

print('blueKills小於5的總和為:', total_blue_kills)
# 將blueKills小於5的資料進行加總

blueKills小於5的總和為: 9026

In [62]:
lolrank = pd.read_csv('lolrank.csv')

# 篩選出blueWardsPlaced大於100的資料
filtered_lolrank = lolrank[lolrank['blueWardsPlaced'] > 100]

# 將blueWardsPlaced大於100的資料進行加總
total_blue_wards_placed = filtered_lolrank['blueWardsPlaced'].sum()

print('blueWardsPlaced大於100的總和為:', total_blue_wards_placed)

blueWardsPlaced大於100的總和為: 14372

In [ ]:
lolrank = pd.read_csv('lolrank.csv')
# 篩選出blueAssists小於3的資料
filtered_lolrank = lolrank[lolrank['blueAssists'] < 3]


total_blue_kills = filtered_lolrank['blueAssists'].sum()

print('blueKills小於3的總和為:', total_blue_kills)
# 將blueAssists小於3的資料進行加總